@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

:root {
    --primary-color: #0284c7;
    --accent-color: #fcd34d;
    --primary-bg-color: #e2e3ff;
    --accent-bg-color: #fff;
    --text-color: #000;
    --gap: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Roboto';
}

.global-container {
    display: grid;
    grid-template: 200px 1fr / minmax(250px, 1fr) 4fr;
}

/* ====== */
/* header */
/* ====== */

.header {
    grid-column: 2 / 3;
    background-color: var(--accent-bg-color);
    display: grid;
    grid-template-columns: minmax(250px, 1.5fr) minmax(250px, 1fr);
    column-gap: var(--gap);
    row-gap: calc(var(--gap) * 1.5);
    padding: var(--gap) calc(var(--gap) * 2);
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .2);
    position: relative;
}

.search-container div {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.icon {
    width: 25px;
}

#search-input {
    outline: none;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    padding: calc(var(--gap) / 2) var(--gap);
    border: none;
    border-radius: 50px;

    background-color: var(--primary-bg-color);
}

#search-input:focus {
    border: 2.5px solid var(--accent-color);
}

.profile-container {
    display: flex;
    align-items: center;
    gap: var(--gap);
    justify-self: center;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-info div {
    font-size: 1.1rem;
    font-weight: bold;
}

.hi-there-container {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.hi-there-container img {
    width: 75px;
    height: 75px;
}

.hi-there-container .text {
    font-size: 1.2rem;
    font-weight: bold;
}

.hi-there-container .text span {
    font-size: .8rem;
}

.btns-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: var(--gap);
}

.btns-container button {
    background-color: var(--primary-color);
    color: var(--accent-bg-color);
    font-size: 1rem;
    font-weight: bold;
    padding: calc(var(--gap) / 2) var(--gap);
    text-align: center;
    width: clamp(100px, 80%, 150px);
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.btns-container button:hover {
    filter: brightness(.9);
}

/* ======= */
/* sidebar */
/* ======= */

.sidebar {
    grid-row: 1 / 3;
    background-color: var(--primary-color);
    color: var(--accent-bg-color);
    padding: var(--gap);
    display: grid;
    gap: calc(var(--gap) * 2.5);
}

.sidebar .dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
}

.sidebar .dashboard img {
    width: 50px;
    height: 50px;
    color: var(--accent-bg-color);
}

.sidebar .dashboard span {
    font-size: 1.7rem;
    font-weight: bold;
}

.sidebar>div>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    padding: 5px;
    margin-bottom: var(--gap);
    border-radius: 3px;
    cursor: pointer;
}

.sidebar>div>div:hover {
    background-color: var(--accent-color);
    transition: .2s;
}

.sidebar-sm-icon {
    width: 28px;
    height: 28px;
}

.sidebar>div>div>span {
    font-size: 1.2rem;
    font-weight: bold;
}

/* =========== */
/* main-conten */
/* =========== */

.main-content {
    background-color: var(--primary-bg-color);
    padding: calc(var(--gap) * 2) var(--gap);
    display: grid;
    grid-template-columns: minmax(250px, 3fr) minmax(200px, 1fr);
    gap: var(--gap);
}

.main-content h3 {
    margin-bottom: var(--gap);
}

.your-projects {
    grid-row: 1 / 3;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--gap);
}

.card {
    display: flex;
    flex-direction: column;
    padding: calc(var(--gap) * 1.5);
    background-color: var(--accent-bg-color);
    border-radius: 9px;
    border-left: 10px solid var(--accent-color);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.card h4,
.announces-content h4 {
    margin-bottom: calc(var(--gap) / 2);
}

.card p {
    flex: 1;
    color: rgba(0, 0, 0, .7);
    margin-bottom: calc(var(--gap) / 2);
}

.card .icons {
    text-align: right;
}

.card img {
    width: 28px;
    height: 28px;
    margin-left: var(--gap);
    cursor: pointer;
}

.announces-content,
.trending-content {
    background-color: var(--accent-bg-color);
    padding: calc(var(--gap) * 1.5);
    font-size: .85rem;
    border-radius: 9px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.announces-content p {
    color: rgba(0, 0, 0, .7);
}

.announces-content hr {
    margin-block: var(--gap);
}

.trending-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.account {
    display: flex;
    align-items: center;
    gap: var(--gap);
    cursor: pointer;
}

.usr-name {
    font-weight: bold;
    color: rgba(0, 0, 0, .75);
    margin-bottom: calc(var(--gap) / 4);
}

.description {
    color: rgba(0, 0, 0, .7);
}